My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=เขียนนิทานเกี่ยวกับ{{ $json.Topic }}",
        "options": {
          "systemMessage": "You are a story teller\n-write under 300 words\n-plot twist story\n-write with Thai language"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "ef0b585a-872b-4b7a-908f-7994c45b48bf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        224
      ],
      "id": "bc6ecbfc-d12d-41a6-bb89-6ecaa0e98960",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "tS79vazjx6dWXCjG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1K2Fv-BMEsBxrFu2w7U3IAUmjPwjH5IJ7",
        "title": "={{ $('Google Sheets').item.json.story }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "856d06f0-3745-442a-80ae-bff57b2677b2",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5dZIjJsQlKkSHa1q",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1472,
        0
      ],
      "id": "81c76577-3233-4f87-91c3-8cc318ea60bc",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5dZIjJsQlKkSHa1q",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18pFzTiMpC21V4Zwg_2B2SY8834Jf3u0SmaoidsQmN8U",
          "mode": "list",
          "cachedResultName": "นิทวยหัวคาน",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18pFzTiMpC21V4Zwg_2B2SY8834Jf3u0SmaoidsQmN8U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18pFzTiMpC21V4Zwg_2B2SY8834Jf3u0SmaoidsQmN8U/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        480,
        0
      ],
      "id": "09fcb12f-b78d-4ef4-8359-0757b47a96b0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MfVvCapqhBAuBSOQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        704,
        0
      ],
      "id": "a6a7c310-f129-4f9d-b7ab-3a335662e886",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18pFzTiMpC21V4Zwg_2B2SY8834Jf3u0SmaoidsQmN8U",
          "mode": "list",
          "cachedResultName": "นิทวยหัวคาน",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18pFzTiMpC21V4Zwg_2B2SY8834Jf3u0SmaoidsQmN8U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18pFzTiMpC21V4Zwg_2B2SY8834Jf3u0SmaoidsQmN8U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "story": "={{ $('Google Sheets').item.json.story }}",
            "status": "done"
          },
          "matchingColumns": [
            "story"
          ],
          "schema": [
            {
              "id": "story",
              "displayName": "story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1712,
        0
      ],
      "id": "4876f8eb-c3c0-4bd7-99ad-917b690f6779",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MfVvCapqhBAuBSOQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "9426db86-e3c3-48b7-a20e-02aa6ea4835b",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e97af39a-e9b9-4b9f-bae6-af8eba7d976e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da5b328de2659e7834f0a98704633dc2cf143cdd312a4a09c46b97a1a0257dfe"
  },
  "id": "Q0pH4ddJKymoqWSB",
  "tags": []
}