My workflow 5.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        -96
      ],
      "id": "702c7878-a045-467f-8a96-33f7270c6434",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        -272
      ],
      "id": "2079f002-1632-44f2-97f3-ebb804f28a46",
      "name": "Wait",
      "webhookId": "9f6d2528-b82a-4ca4-8e18-1c02029a3d31"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "48fc59a04db407b6ee2d4a179cdaf58f8a5469bc64b00d3fd931095653e358ce"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"Qubico/flux1-schnell\",\n  \"task_type\": \"txt2img\",\n  \"input\": {\n    \"prompt\": \"Shiopan bread\",\n    \"width\": 1024,\n    \"height\": 1024\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -240
      ],
      "id": "6ae40830-7293-4844-9431-b6dc01822def",
      "name": "CREATE"
    },
    {
      "parameters": {
        "url": "={{ $json.data.output.image_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "48fc59a04db407b6ee2d4a179cdaf58f8a5469bc64b00d3fd931095653e358ce"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        -240
      ],
      "id": "b4899d0b-d588-47dc-ba41-5c4272fd16ae",
      "name": "OUTPUT"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "48fc59a04db407b6ee2d4a179cdaf58f8a5469bc64b00d3fd931095653e358ce"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -320
      ],
      "id": "4ecb1931-083d-4fa8-8c7f-72be90ec9b03",
      "name": "CHECK OUTPUT"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6c6962d-8e00-403a-9c46-d9012b5d6748",
              "leftValue": "={{ $json.data.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        -320
      ],
      "id": "ed8f33a1-82b1-401b-9746-44e6199b8c62",
      "name": "If"
    },
    {
      "parameters": {
        "inputDataFieldName": "image",
        "name": "={{ $json.data.input.prompt }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1hnbow4DMEi3DD8f-d2lQmsV5QUwT9cPp",
          "mode": "list",
          "cachedResultName": "ชิโอะปัง",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hnbow4DMEi3DD8f-d2lQmsV5QUwT9cPp"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        0
      ],
      "id": "bd88075b-f970-425f-a4d8-55079340eb4f",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5nOxi4gdyKfGj29i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1I-p2-f5x4pJ_HjdE3l9kLNKG7wEJIkZVW9M0sKz0UKM",
          "mode": "list",
          "cachedResultName": "ชิโอะปัง",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I-p2-f5x4pJ_HjdE3l9kLNKG7wEJIkZVW9M0sKz0UKM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I-p2-f5x4pJ_HjdE3l9kLNKG7wEJIkZVW9M0sKz0UKM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        256,
        -96
      ],
      "id": "ab3f9e9d-7685-48ac-81d7-e11e09445dc2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MfVvCapqhBAuBSOQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=เขียนรายละเอียดสำหรับโฆษณาชิโอะปังในหัวข้อ {{ $json.keyword }}",
        "options": {
          "systemMessage": "You are a clever creator and marketing expert\n-you want to sell all of this product\n-write-up in 50 words"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "8044c087-c96f-4d02-a0bb-058e37e8cb32",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        624,
        192
      ],
      "id": "69283979-13ac-4e2d-86fd-a6c6343831a2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "tS79vazjx6dWXCjG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1hnbow4DMEi3DD8f-d2lQmsV5QUwT9cPp",
        "title": "={{ $('Get row(s) in sheet').item.json.keyword }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "7aa8a31b-29f1-4770-b289-ff04102d58e8",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5dZIjJsQlKkSHa1q",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ],
      "id": "89ed014c-6633-4138-94a4-d9cb4cb5abcb",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5dZIjJsQlKkSHa1q",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1I-p2-f5x4pJ_HjdE3l9kLNKG7wEJIkZVW9M0sKz0UKM",
          "mode": "list",
          "cachedResultName": "ชิโอะปัง",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I-p2-f5x4pJ_HjdE3l9kLNKG7wEJIkZVW9M0sKz0UKM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I-p2-f5x4pJ_HjdE3l9kLNKG7wEJIkZVW9M0sKz0UKM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyword": "={{ $('Get row(s) in sheet').item.json.keyword }}",
            "status": "done"
          },
          "matchingColumns": [
            "keyword"
          ],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1360,
        0
      ],
      "id": "adc7b96b-c18a-491a-828f-37cdc4624198",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MfVvCapqhBAuBSOQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "CHECK OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK OUTPUT": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OUTPUT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OUTPUT": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "CREATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ed815e7-8e74-40fc-839f-8f5958b6c8a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da5b328de2659e7834f0a98704633dc2cf143cdd312a4a09c46b97a1a0257dfe"
  },
  "id": "YCeFHnBOXZQDL49u",
  "tags": []
}